
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: #757575;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: $brand-color;
  border-radius: 2px;
}

.starter{
  padding-top: 10px;
}

.click{
  cursor: pointer;
}

.none{
  cursor:auto;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  font-family: "Roboto Light",sans-serif;
  background-color: $background-dark !important;
  margin: 0;
}

h1{
  font-size: rem(35px);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h2{
  font-weight: 500;
  margin: 0;
  padding:rem(2px);
}

h3{
  font-weight: 300;

}

h4{
  font-weight: 100;
  margin: 0;
}

h5{
  font-weight: 100;
  margin: rem(5px)
}

a{
  text-decoration: none;
  color:unset;
}

.app-container{
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  color: $text;
  max-width: rem(414px);
  @include breakpoint(xs){
    max-width:100%;
    width: 100vw;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $text-smoke;
  outline-offset: 0;
  border: none;
  -webkit-box-shadow:200px 200px 0px $background-dark inset;
  box-shadow:200px 200px 0px $background-dark inset;
  transition: background-color 5000s ease-in-out 0s;

}

.space-top{
  padding-top: rem(15px);
}
