
// Brand colors 0EB149
$brand-color: #ebb811;
$accent-color:#ff5a5f;
$success-color: #239c26;



$text: #ffffff;
$text-smoke: #ededed;
$text-darker: #404040;
$text-dark: #282828;
$text-darkest: #060606;


$background-brighter:#303030;
$background-dark:#262626;


